.edit-pop-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

    .edit-pop {
        width: 70%;
        height: 800px;
        background: #171717;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 70%;
            gap: 30px;

            .edit-label {
                color: white;
                font-weight: bold;
                font-size: 20px;
            }

            .edit-field {
                padding: 5px;
                outline: none;
                color: white;

                &.text-field {
                    background: transparent;
                    border-bottom-width: 5px;
                    border-style: solid;
                    border-color: cornflowerblue;
                    font-size: 30px;
                }
            }

            .bottom-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .submit-button {
                    padding: 15px;
                    background: white;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .edit-back {
            position: absolute;
            top: 20px;
            left: 40px;
            font-size: 50px;
            color: white;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
